__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env
*.log
logs/*.log
*.sqlite3
.git
.gitignore
README.md
Dockerfile
fly.toml
.dockerignore
tunnel.py
how_to_run_command
.vscode/
.idea/
*.swp
*.swo
*~